# =====================================
# GLOBAL JAVA / SPRING
# =====================================
**/target/
**/*.log
**/*.class
**/build/
**/.gradle/

# =====================================
# GLOBAL NODE / REACT
# =====================================
**/node_modules/
**/dist/
**/.vite/

# =====================================
# IntelliJ / IDE
# =====================================
.idea/
**/.idea/
*.iws
*.iml
*.ipr
**/out/

# =====================================
# VS Code
# =====================================
.vscode/
**/.vscode/

# =====================================
# OS FILES
# =====================================
.DS_Store
Thumbs.db

# =====================================
# ENV FILES
# =====================================
.env
.env.*
!.env.example

# =====================================
# DOCKER
# =====================================
**/*.tar
**/*.gz

# =====================================
# LOGS
# =====================================
logs/
*.tmp
